/* For standard array */
table {
    width: 100%;
}

td,
th {
    border: 2px solid gray;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.scroll-box {
    overflow-x: scroll;
}

.bit {
    height: 2em;
    width: 5em;
    padding-left: 1em;
    border: solid black;
    border-radius: 0.5em;
    background-color: #fff;
    font-size: 1em;
    color: blue;
}

.bit2 {
    height: 2em;
    width: 5em;
    padding-left: 0.7em;
    border: solid black;
    border-radius: 0.5em;
    background-color: #fff;
    font-size: 1em;
    color: blue;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#observations1,
#observations2{
    font-size: 1.25em;
}